<h1><%=@homeTeam %> Vs <%=@awayTeam %></h1>
<h2>GoodForm Predicts...</h2>

<% for preds in @predictions %>
		<p><b>Score</b> <%=@homeTeam %>: <%= preds.goalslikelyscorehome %> vs <%=@awayTeam %>: <%= preds.goalslikelyscoreaway %></p>
		<% if preds.goalswinhome > preds.goalswinaway%>
		<p><b><font color = "green">BET ON <%=@homeTeam %> WIN </font></b>: <%=@homeTeam %> Win Likelihood: <%=  preds.goalswinhome.round(3) %> vs <%=@awayTeam %> <%= preds.goalswinaway.round(3) %></p>
		<% else%>
		<p><b><font color = "green">BET ON <%=@awayTeam %> WIN </font></b>: <%=@awayTeam %> Win Likelihood: <%= preds.goalswinaway.round(3) %> vs <%=@homeTeam %> <%=  preds.goalswinhome.round(3) %></p>
		<%end%>
		<p><b>Corners</b>  <%=@homeTeam %>: <%= preds.cornerslikelyscorehome %> vs <%=@awayTeam %>: <%= preds.cornerslikelyscoreaway %></p>
		<% if preds.cornerswinhome > preds.cornerswinaway%>
		<p><b><font color = "green">BET ON <%=@homeTeam %> CORNERS WIN </font></b>: <%=@homeTeam %> Corners Win Likelihood: <%=  preds.cornerswinhome.round(3) %> vs <%=@awayTeam %> <%= preds.cornerswinaway.round(3) %></p>
		<% else %>
		<p><b><font color = "green">BET ON <%=@awayTeam %> CORNERS WIN </font></b>: <%=@awayTeam %> Corners Win Likelihood: <%= preds.cornerswinaway.round(3) %> vs  <%=@homeTeam %> <%=  preds.cornerswinhome.round(3) %></p>
		<%end%>		
<% end %>