<h1>Statistics for <%= @team1 %> vs <%= @team2 %></h1>

<table border="1">

<!-- <%= debug  params %> -->
<!-- <%= debug  @statistics %> -->
<tr>
	<th>Game Time</th>
	<th>Seen Time</th>
	<th>Game ID</th>
	<th>Home Goals</th>
	<th>Away Goals</th>
	<th>Home Free Kicks</th>
	<th>Away Free Kicks</th>
	<th>Home Penalties</th>
	<th>Away Penalties</th>
</tr>
<tr>
	<th><%= @statistics.last.gametime %></th>
	<th><%= @statistics.last.seentime %></th>
	<th><%= @statistics.last.game_id %></th>
	<th><%= @statistics.last.hg %></th>
	<th><%= @statistics.last.ag %></th>
	<th><%= @statistics.last.hfk %></th>
	<th><%= @statistics.last.afk %></th>	
	<th><%= @statistics.last.hpen %></th>
	<th><%= @statistics.last.apen %></th>
</tr>
