<h1> <%= @team1 %> (<%= @statistics.first.hg %>) : <%= @team2 %> (<%= @statistics.first.ag %>)</h1>

<script type="text/javascript" charset="utf-8">
	$(function()
	{
		new Highcharts.Chart(
		{
			chart:
			{
				renderTo: "statistics_chart"
			},
			title:
			{
				text: "Home Dangerous Attacks"
			},
			xAxis:
			{
				type: "integer"
			},
			yAxis:
			{
				min: 0,
				title:
				{
					text: "Number of Attacks"
				}
			},
			series: 
			[
				{
					data: <%= @statistics.reverse_each.map(&:hda).to_json %>
				}
			]
		});
	});	
</script>

<div id="statistics_chart" style="width:560px; height:300px;"></div>


<table border="1">

<!-- <%= debug  params %> -->
<!-- <%= debug  @statistics %> -->
<tr>
	<th>Game Time</th>
	<th>Home Goals</th>
	<th>Away Goals</th>
    <th>Home Attacks</th>
	<th>Away Attacks</th>
    <th>Home Dangerous Attacks</th>
	<th>Away Dangerous Attacks</th>	
	<th>Home Shots On Target</th>
	<th>Away Shots On Target</th>
	<th>Home Shots Off Target</th>
	<th>Away Shots Off Target</th>
    <th>Home Corners</th>
	<th>Away Corners</th>
</tr>

	<% @statistics.each do |statistic| %>
<tr>
	<th><%= statistic.gametime %></th>
	<th><%= statistic.hg %></th>
	<th><%= statistic.ag %></th>
	<th><%= statistic.ha %></th>
	<th><%= statistic.aa %></th>
	<th><%= statistic.hda %></th>
	<th><%= statistic.ada %></th>
	<th><%= statistic.hsont %></th>
	<th><%= statistic.asont %></th>
	<th><%= statistic.hsofft %></th>
	<th><%= statistic.asofft %></th>
    <th><%= statistic.hco %></th>
	<th><%= statistic.aco %></th>	
</tr>
	<% end %>
