<h1> <%= @team1 %> (<%= @statistics.first.hg %>) : <%= @team2 %> (<%= @statistics.first.ag %>)</h1>

 <script type="text/javascript" charset="utf-8">

 	new Highcharts.Chart(
	{
         chart: 
		{
			type: 'bar',
			renderTo: "container"
        },
        title: 
		{
            text: 'Game Statistics for <%=@team1 %> (<%= @statistics.first.hg %>) vs  <%= @team2 %> (<%= @statistics.first.ag %>)'
         },
        xAxis: 
		{
            categories: ['Attacks', 'Dangerous Attacks', 'Shots On Target', 'Shots Off Target', 'Corners']
			
        },
        yAxis: 
		{
			min: 0,
            title: 
			{
                text: 'Data'
            }
        },
        legend: 
		{
            backgroundColor: '#FFFFFF',
            reversed: true
        },
        plotOptions: 
		{
            series: 
			{
                stacking: 'normal'
            }
        },
            series:
			[
				{
					name: 'Home',
					data: [<%= @finalHomeAttacksAsPercentage %>, <%= @finalHomeDangerousAttacksAsPercentage %>, 
						   <%= @finalHomeShotsOnTargetAsPercentage %>, <%= @finalHomeShotsOffTargetAsPercentage %>, 
						   <%= @finalHomeCornersAsPercentage %>]
				}, 
				{
					name: 'Away',
					data: [<%= @finalAwayAttacksAsPercentage %>, <%= @finalAwayDangerousAttacksAsPercentage %>, 
					       <%= @finalAwayShotsOnTargetAsPercentage %>, <%= @finalAwayShotsOffTargetAsPercentage %>, 
						   <%= @finalAwayCornersAsPercentage %>]
				}
			]
	});
 
 
	$(function()
	{

		new Highcharts.Chart(
		{
			chart:
			{
				renderTo: "statistics_chart"
			},
			title:
			{
				text: "Dangerous Attacks"
			},
			xAxis:
			{
				type: "integer"
			},
			yAxis:
			{
				min: 0,
				title:
				{
					text: "Number of Dangerous Attacks"
				}
			},

			series: 
			[
				{
					name: 'Home Dangerous Attacks',
					data: <%= @statistics.reverse_each.map(&:hda).to_json %>
				},
				{
					name: 'Away Dangerous Attacks',
					data: <%= @statistics.reverse_each.map(&:ada).to_json %>
				},
			]
		});

		new Highcharts.Chart(
		{
			chart:
			{
				renderTo: "attacks_chart"
			},
			title:
			{
				text: "Attacks"
			},
			xAxis:
			{
				type: "integer"
			},
			yAxis:
			{
				min: 0,
				title:
				{
					text: "Number of Attacks"
				}
			},
			series: 
			[
				{
					name: 'Home  Attacks',
					data: <%= @statistics.reverse_each.map(&:ha).to_json %>
				},
				{
					name: 'Away  Attacks',
					data: <%= @statistics.reverse_each.map(&:aa).to_json %>
				},
			]
		});
		new Highcharts.Chart(
		{
			chart:
			{
				renderTo: "shots_on_target_chart"
			},
			title:
			{
				text: "Shots on Target"
			},
			xAxis:
			{
				type: "integer"
			},
			yAxis:
			{
				min: 0,
				title:
				{
					text: "Shots on Target"
				}
			},
			series: 
			[
				{
					name: 'Home Shots on Target',
					data: <%= @statistics.reverse_each.map(&:hsont).to_json %>
				},
				{
					name: 'Away Shots on Target',
					data: <%= @statistics.reverse_each.map(&:asont).to_json %>
				},
			]
		});
		new Highcharts.Chart(
		{
			chart:
			{
				renderTo: "shots_off_target_chart"
			},
			title:
			{
				text: "Shots off Target"
			},
			xAxis:
			{
				type: "integer"
			},
			yAxis:
			{
				min: 0,
				title:
				{
					text: "Shots off Target"
				}
			},
			series: 
			[
				{
					name: 'Home Shots off Target',
					data: <%= @statistics.reverse_each.map(&:hsofft).to_json %>
				},
				{
					name: 'Away Shots off Target',
					data: <%= @statistics.reverse_each.map(&:asofft).to_json %>
				},
			]
		});
		new Highcharts.Chart(
		{
			chart:
			{
				renderTo: "corners_chart"
			},
			title:
			{
				text: "Corners"
			},
			xAxis:
			{
				type: "integer"
			},
			yAxis:
			{
				min: 0,
				title:
				{
					text: "Corners"
				}
			},
			series: 
			[
				{
					name: 'Home Corners',
					data: <%= @statistics.reverse_each.map(&:hco).to_json %>
				},
				{
					name: 'Away Corners',
					data: <%= @statistics.reverse_each.map(&:aco).to_json %>
				},
			]
		});
	});	
</script>

<div id="statistics_chart" style="width:560px; height:300px;"></div>
<div id="attacks_chart" style="width:560px; height:300px;"></div>
<div id="shots_on_target_chart" style="width:560px; height:300px;"></div>
<div id="shots_off_target_chart" style="width:560px; height:300px;"></div>
<div id="corners_chart" style="width:560px; height:300px;"></div>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<table border="1">

<!-- <%= debug  params %> -->
<!-- <%= debug  @statistics %> -->
<tr>
	<th>Game Time</th>
	<th>Home Goals</th>
	<th>Away Goals</th>
    <th>Home Attacks</th>
	<th>Away Attacks</th>
    <th>Home Dangerous Attacks</th>
	<th>Away Dangerous Attacks</th>	
	<th>Home Shots On Target</th>
	<th>Away Shots On Target</th>
	<th>Home Shots Off Target</th>
	<th>Away Shots Off Target</th>
    <th>Home Corners</th>
	<th>Away Corners</th>
</tr>

	<% @statistics.each do |statistic| %>
<tr>
	<th><%= statistic.gametime %></th>
	<th><%= statistic.hg %></th>
	<th><%= statistic.ag %></th>
	<th><%= statistic.ha %></th>
	<th><%= statistic.aa %></th>
	<th><%= statistic.hda %></th>
	<th><%= statistic.ada %></th>
	<th><%= statistic.hsont %></th>
	<th><%= statistic.asont %></th>
	<th><%= statistic.hsofft %></th>
	<th><%= statistic.asofft %></th>
    <th><%= statistic.hco %></th>
	<th><%= statistic.aco %></th>	
</tr>
	<% end %>