<h1> <%= @team1 %> (<%= @statistics.first.hg %>) : <%= @team2 %> (<%= @statistics.first.ag %>)</h1>

<script type="text/javascript" charset="utf-8">

$(function () 
{
    categories = ['Attacks', 'Dangerous Attacks', 'Shots on Target', 'Shots off Target', 'Corners'];
    
	$(document).ready(function() 
	{
        new Highcharts.Chart(
		{
            chart: 
			{
                type: 'bar',
				renderTo: "container"
            },
            title: 
			{
                text: 'Game Statistics for <%=@team1 %> (<%= @statistics.first.hg %>) vs  <%= @team2 %> (<%= @statistics.first.ag %>)'
            },
            subtitle: 
			{
                text: 'Good Form'
            },
            xAxis: 
			[
				{
					categories: categories,
					reversed: false
				}, 
				{ // mirror axis on right side
					opposite: true,
					reversed: false,
					categories: categories,
					linkedTo: 0
				}
			],
            yAxis: 
			{
                title: 
				{
                    text: null
                },
                labels: 
				{
                    formatter: function()
					{
                        return (Math.abs(this.value));
                    }
                },
                min: -70,
                max: 70
            },
    
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
    
            tooltip: {
                formatter: function(){
                         return '<b>'+ this.series.name +' '+ this.point.category +'</b><br/>'+
                         Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },
    
            series: [
			{
                name: 'Home',
				color: '#006600',
                data: [<%= @homeNegativeAttacks %>, <%= @homeNegativeDangerousAttacks %>, 
						   <%= @homeNegativeShotsOnTarget%>, <%= @homeNegativeShotsOffTarget%>, 
						   <%= @homeNegativeCorners %>]
            }, 
			{
                name: 'Away',
                data: [<%= @finalStats.aa %>, <%= @finalStats.ada %>, 
						   <%= @finalStats.asont%>, <%= @finalStats.asofft %>, 
						   <%= @finalStats.aco %>]
            }]
        });
    });
});
</script>

<div id="statistics_chart" style="width:560px; height:300px;"></div>
<div id="attacks_chart" style="width:560px; height:300px;"></div>
<div id="shots_on_target_chart" style="width:560px; height:300px;"></div>
<div id="shots_off_target_chart" style="width:560px; height:300px;"></div>
<div id="corners_chart" style="width:560px; height:300px;"></div>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<table border="1">

<!-- <%= debug  params %> -->
<!-- <%= debug  @statistics %> -->
<tr>
	<th>Game Time</th>
	<th>Home Goals</th>
	<th>Away Goals</th>
    <th>Home Attacks</th>
	<th>Away Attacks</th>
    <th>Home Dangerous Attacks</th>
	<th>Away Dangerous Attacks</th>	
	<th>Home Shots On Target</th>
	<th>Away Shots On Target</th>
	<th>Home Shots Off Target</th>
	<th>Away Shots Off Target</th>
    <th>Home Corners</th>
	<th>Away Corners</th>
</tr>

	<% @statistics.each do |statistic| %>
<tr>
	<th><%= statistic.gametime %></th>
	<th><%= statistic.hg %></th>
	<th><%= statistic.ag %></th>
	<th><%= statistic.ha %></th>
	<th><%= statistic.aa %></th>
	<th><%= statistic.hda %></th>
	<th><%= statistic.ada %></th>
	<th><%= statistic.hsont %></th>
	<th><%= statistic.asont %></th>
	<th><%= statistic.hsofft %></th>
	<th><%= statistic.asofft %></th>
    <th><%= statistic.hco %></th>
	<th><%= statistic.aco %></th>	
</tr>
	<% end %>