<h1> <%= @team1 %> (<%= @statistics.last.hg %>) : <%= @team2 %> (<%= @statistics.last.ag %>)</h1>

<table border="1">

<!-- <%= debug  params %> -->
<!-- <%= debug  @statistics %> -->
<tr>
	<th>Game Time</th>
	<th>Seen Time</th>
	<th>Game ID</th>
	<th>Home Goals</th>
	<th>Away Goals</th>
	<th>Home Free Kicks</th>
	<th>Away Free Kicks</th>
	<th>Home Penalties</th>
	<th>Away Penalties</th>
</tr>

	<% @statistics.each do |statistic| %>
<tr>
	<th><%= statistic.gametime %></th>
	<th><%= statistic.seentime %></th>
	<th><%= statistic.game_id %></th>
	<th><%= statistic.hg %></th>
	<th><%= statistic.ag %></th>
	<th><%= statistic.hfk %></th>
	<th><%= statistic.afk %></th>	
	<th><%= statistic.hpen %></th>
	<th><%= statistic.apen %></th>
</tr>
	<% end %>
