<h1> <%= @team1 %> (<%= @statistics.first.hg %>) : <%= @team2 %> (<%= @statistics.first.ag %>)</h1>

 <script type="text/javascript" charset="utf-8">

 	new Highcharts.Chart(
	{
         chart: 
		{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                stops: [
                    [0, 'rgb(240, 255, 255)'],
                    [1, 'rgb(0, 0, 0)']
                ]
            },
            borderColor: '#000000',
            borderWidth: 2,
            className: 'dark-container',
            plotBackgroundColor: 'rgba(255, 255, 255, .1)',
            plotBorderColor: '#CCCCCC',
            plotBorderWidth: 1,

			type: 'bar',
			renderTo: "container",
            tooltip: {
                formatter: function() {
                    return 'not implemented';
                }
            }             ,
			reflow: false
			
        },
		
        title: 
		{
            text: '<%=@team1 %> (<%= @statistics.first.hg %>) vs  <%= @team2 %> (<%= @statistics.first.ag %>)',
			style: 
			{
                color: '#000000',
				fontSize: '25px',
                fontWeight: 'bold'
            }
         },
        xAxis: 
		{
            categories: ['Attacks', 'Dangerous Attacks', 'Shots On Target', 'Shots  Off Target', 'Corners']
        },
        yAxis: 
		{
			min: 0,
			max: 100,
            title: 
			{
                text: 'Percentage'
            },
			gridLineWidth: 0
        },
        legend: 
		{
            backgroundColor: '#FFFFFF',
            reversed: true
        },
        plotOptions: 
		{
            series: 
			{
                stacking: 'reversed'
            }
        },
            series:
			[
				{
					name: 'Away',
					data: [<%= @finalAwayAttacksAsPercentage.round(2) %>, <%= @finalAwayDangerousAttacksAsPercentage.round(2) %>, 
					       <%= @finalAwayShotsOnTargetAsPercentage.round(2) %>, <%= @finalAwayShotsOffTargetAsPercentage.round(2) %>, 
						   <%= @finalAwayCornersAsPercentage.round(2) %> ],
					color: '#0066CC'
				},
				{
					name: 'Home',
					data: [<%= @finalHomeAttacksAsPercentage.round(2) %>, <%= @finalHomeDangerousAttacksAsPercentage.round(2) %>, 
						   <%= @finalHomeShotsOnTargetAsPercentage.round(2) %>, <%= @finalHomeShotsOffTargetAsPercentage.round(2) %>, 
						   <%= @finalHomeCornersAsPercentage.round(2) %>],
					color: '#CC0000'
				}
			]

	});
 
 
	$(function()
	{
		new Highcharts.Chart(
		{
            colors: ["#DDDF0D", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
			chart:
			{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                    stops: [
                        [0, 'rgb(240, 255, 255)'],
                        [1, 'rgb(0, 0, 0)']
                    ]
                },
                borderColor: '#000000',
                borderWidth: 2,
                className: 'dark-container',
                plotBackgroundColor: 'rgba(255, 255, 255, .1)',
                plotBorderColor: '#CCCCCC',
                plotBorderWidth: 1,
				renderTo: "dangerous_attacks_chart"
			},
			title:
			{
                color: '#C0C0C0',
				text: "Dangerous Attacks"
			},
			xAxis:
			{
                gridLineColor: '#333333',
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
				type: "integer"
			},
			yAxis:
			{
                gridLineColor: '#333333',
                labels: {
                    style: {
                        color: '#A0A0A0'
                    }
                },
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
                tickWidth: 1,
				min: 0,
				title:
				{
                    style: {
                        color: '#000000',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    },
					text: "Number of Dangerous Attacks"
				}
			},

			series: 
			[
				{
					name: 'Home Dangerous Attacks',
					data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.hda] } %>,
					color: '#CC0000'
				},
				{
					name: 'Away Dangerous Attacks',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.ada] } %>,
					color: '#0066CC'
				}
			]
		});

		new Highcharts.Chart(
		{
            colors: ["#DDDF0D", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],

			chart:
			{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                    stops: [
                        [0, 'rgb(240, 255, 255)'],
                        [1, 'rgb(0, 0, 0)']
                    ]
                },
                borderColor: '#000000',
                borderWidth: 2,
                className: 'dark-container',
                plotBackgroundColor: 'rgba(255, 255, 255, .1)',
                plotBorderColor: '#CCCCCC',
                plotBorderWidth: 1,
				renderTo: "attacks_chart"
			},
			title:
			{
                color: '#C0C0C0',
				text: "Attacks"
			},
			xAxis:
			{
                gridLineColor: '#333333',
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
				type: "integer"
			},
			yAxis:
			{
                gridLineColor: '#333333',
                labels: {
                    style: {
                        color: '#A0A0A0'
                    }
                },
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
                tickWidth: 1,
                min: 0,
                title:
                {
                    style: {
                        color: '#000000',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    },
					text: "Number of Attacks"
				}
			},
			series: 
			[
				{
					name: 'Home  Attacks',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.ha] } %>,
					color: '#CC0000'
				},
				{
					name: 'Away  Attacks',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.aa] } %>,
					color: '#0066CC'
				}
			]
		});
		new Highcharts.Chart(
		{
            colors: ["#DDDF0D", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],

			chart:
			{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                    stops: [
                        [0, 'rgb(240, 255, 255)'],
                        [1, 'rgb(0, 0, 0)']
                    ]
                },
                borderColor: '#000000',
                borderWidth: 2,
                className: 'dark-container',
                plotBackgroundColor: 'rgba(255, 255, 255, .1)',
                plotBorderColor: '#CCCCCC',
                plotBorderWidth: 1,
				renderTo: "shots_on_target_chart"
			},
			title:
			{
                color: '#C0C0C0',
				text: "Shots on Target"
			},
			xAxis:
			{
                gridLineColor: '#333333',
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
				type: "integer"
			},
			yAxis:
			{
                gridLineColor: '#333333',
                labels: {
                    style: {
                        color: '#A0A0A0'
                    }
                },
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
                tickWidth: 1,
                min: 0,
                title:
                {
                    style: {
                        color: '#000000',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    },
					text: "Shots on Target"
				}
			},
			series: 
			[
				{
					name: 'Home Shots on Target',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.hsont] } %>,
					color: '#CC0000'
				},
				{
					name: 'Away Shots on Target',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.asont] } %>,
					color: '#0066CC'
				}
			]
		});
		new Highcharts.Chart(
		{
            colors: ["#DDDF0D", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],

			chart:
			{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                    stops: [
                        [0, 'rgb(240, 255, 255)'],
                        [1, 'rgb(0, 0, 0)']
                    ]
                },
                borderColor: '#000000',
                borderWidth: 2,
                className: 'dark-container',
                plotBackgroundColor: 'rgba(255, 255, 255, .1)',
                plotBorderColor: '#CCCCCC',
                plotBorderWidth: 1,
				renderTo: "shots_off_target_chart"
			},
			title:
			{
                color: '#C0C0C0',
				text: "Shots off Target"
			},
			xAxis:
			{
                gridLineColor: '#333333',
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
				type: "integer"
			},
			yAxis:
			{
				min: 0,
                gridLineColor: '#333333',
                labels: {
                    style: {
                        color: '#A0A0A0'
                    }
                },
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
                tickWidth: 1,
                min: 0,
                title:
                {
                    style: {
                        color: '#000000',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    },
					text: "Shots off Target"
				}
			},
			series: 
			[
				{
					name: 'Home Shots off Target',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.hsofft] } %>,
					color: '#CC0000'
				},
				{
					name: 'Away Shots off Target',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.asofft] } %>,
					color: '#0066CC'
				}
			]
		});
		new Highcharts.Chart(
		{
            colors: ["#DDDF0D", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
			chart:
			{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                    stops: [
                        [0, 'rgb(240, 255, 255)'],
                        [1, 'rgb(0, 0, 0)']
                    ]
                },
                borderColor: '#000000',
                borderWidth: 2,
                className: 'dark-container',
                plotBackgroundColor: 'rgba(255, 255, 255, .1)',
                plotBorderColor: '#CCCCCC',
                plotBorderWidth: 1,
				renderTo: "corners_chart"
			},
			title:
			{
                color: '#C0C0C0',
				text: "Corners"
			},
			xAxis:
			{
                gridLineColor: '#333333',
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
				type: "integer"
			},
			yAxis:
			{
                gridLineColor: '#333333',
                labels: {
                    style: {
                        color: '#A0A0A0'
                    }
                },
                lineColor: '#A0A0A0',
                tickColor: '#A0A0A0',
                tickWidth: 1,
                min: 0,
                title:
                {
                    style: {
                        color: '#000000',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    },
					text: "Corners"
				}
			},
			series: 
			[
				{
					name: 'Home Corners',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.hco] } %>,
					color: '#CC0000'
				},
				{
					name: 'Away Corners',
                    data: <%= @statistics.map{|statistics| [statistics.gametime, statistics.aco] } %>,
					color: '#0066CC'
				}
			]
		});
	});	
</script>

<div id="home" >
  <div id="attacks">
<div id="dangerous_attacks_chart" style="width:560px; height:300px;"></div>
<div id="attacks_chart" style="width:560px; height:300px;"></div>
  </div>
  <div id="shots">
<div id="shots_on_target_chart" style="width:560px; height:300px;"></div>
<div id="shots_off_target_chart" style="width:560px; height:300px;"></div>
    </div>
<div id="corners_chart" style="width:560px; height:300px;"></div>
</div>

<table border="1" id="statistics">

<!-- <%= debug  params %> -->
<!-- <%= debug  @statistics %> -->
<tr>
	<th>Game Time</th>
	<th>Home Goals</th>
	<th>Away Goals</th>
    <th>Home Attacks</th>
	<th>Away Attacks</th>
    <th>Home Dangerous Attacks</th>
	<th>Away Dangerous Attacks</th>	
	<th>Home Shots On Target</th>
	<th>Away Shots On Target</th>
	<th>Home Shots Off Target</th>
	<th>Away Shots Off Target</th>
    <th>Home Corners</th>
	<th>Away Corners</th>
</tr>

	<% @statistics.each do |statistic| %>
<tr>
	<td><%= statistic.gametime %></td>
	<td><%= statistic.hg %></td>
	<td><%= statistic.ag %></td>
	<td><%= statistic.ha %></td>
	<td><%= statistic.aa %></td>
	<td><%= statistic.hda %></td>
	<td><%= statistic.ada %></td>
	<td><%= statistic.hsont %></td>
	<td><%= statistic.asont %></td>
	<td><%= statistic.hsofft %></td>
	<td><%= statistic.asofft %></td>
    <td><%= statistic.hco %></td>
	<td><%= statistic.aco %></td>	
</tr>
	<% end %>