<meta http-equiv="refresh" content="60" />

<h1>Good Form</h1>

<% d = Time.zone.now %>

<p>
	Time: <%= d.strftime('%b %d, %Y %H:%M:%S') =%>
</p>

<!-- <table border="1">
	<tr>
		<td>Teams</td>
		<td>Leagues</td>
		<td>Games</td>
		<td>Statistics Available</td>
	</tr>
	<tr>
		<td><%= @numberOfTeams %></td>
		<td><%= @numberOfLeagues %></td>
		<td><%= @NumberOfGames %></td>
		<td><%= @numberOfStatistics %></td>
	</tr>
</table> -->

<a name"top"></a>

<p>
	<b>Current and Upcoming Games</b> (inc. games in the last 2 hours):
</p>

<table id="games" class="display" data-source="<%= games_url(format: "json") %>">

	<thead>
		<tr>
			<th>Kick Off Time</th>
			<th>Home Team</th>
			<th>Away Team</th>
			<th>Predictions</th>
			<th>Statistics</th>

		</tr>
	</thead>

	<tbody></tbody>
</table>

<table id="teams" class="display" data-source="<%= teams_url(format: "json") %>">
	<thead>
		<tr>
			<th>Team Name</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<table id="leagues" class="display" data-source="<%= leagues_url(format: "json") %>">
	<thead>
		<tr>
			<th>League Name</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<p>
	<a href="#top">Back To Top</a>
</p>
