<h1><%= @team.name %></h1>

<table border="1" id="summary">

<p>Good Form has records for <%= @homeGamesPlayed %> Home games and <%= @awayGamesPlayed %> Away games </p>

  <tr>
    <th>Average</th>
    <th>Home</th>
    <th>Away</th>
  </tr>
  <tr>
    <td>Goals Scored</td>
    <td><%= @averageHomeGoals.round(1) %></td>
    <td><%= @averageAwayGoals.round(1) %></td>
  </tr>
  <tr>
    <td>Corners</td>
    <td><%= @averageHomeCorners.round(1) %></td>
    <td><%= @averageAwayCorners.round(1) %></td>
  </tr>
  <tr>
    <td>Attacks</td>
    <td><%= @averageHomeAttacks.round(1) %></td>
    <td><%= @averageAwayAttacks.round(1) %></td>
  </tr>
  <tr>
    <td>Dangerous Attacks</td>
    <td><%= @averageHomeDangerousAttacks.round(1) %></td>
    <td><%= @averageAwayDangerousAttacks.round(1) %></td>
  </tr>
  <tr>
    <td>Shots On Target</td>
    <td><%= @averageHomeShotsOnTarget.round(1) %></td>
    <td><%= @averageAwayShotsOnTarget.round(1) %></td>
  </tr>
  <tr>
    <td>Shots Off Target</td>
    <td><%= @averageHomeShotsOffTarget.round(1) %></td>
    <td><%= @averageAwayShotsOffTarget.round(1) %></td>
  </tr>
</table>

<br> </br>

<table border="1" id="games">

<h2><b>Games</b></h2>

<b>Key</b><p/>
<b>HWL</b> : Home Win Likelihood,
<b>HG</b> :  Home Goals (Actual, where applicable),
<b>PHG</b>:  Predicted Home Goals,
<b>HCWL</b> : Home Corner Win Likelihood,
<b>HC</b> :  Home Corners (Actual, where applicable),
<b>PHC</b> : Predicted Home Corners,
<b>AWL</b> : Away Win Likelihood,
<b>AG</b> :  Away Goals (Actual, where applicable),
<b>PAG</b> : Predicted Away Goals,
<b>ACWL</b> : Away Corner Win Likelihood,
<b>AC</b> :  Away Corners (Actual, where applicable),
<b>PAC</b> : Predicted Away Corners.
<p></p>

<tr>
	<th>League</th>
	<th>Kick Off Date</th>
	<th>Home Team</th>
	<th>HWL</th>
	<th>HG</th>
	<th>PHG</th>
	<th>HCWL</th>
	<th>HC</th>
	<th>PHC</th>
	<th>Away Team</th>
	<th>AWL</th>
	<th>AG</th>
	<th>PAG</th>
	<th>ACWL</th>
	<th>AC</th>
	<th>PAC</th>
	<th>Statistics</th>
</tr>
	<% @gamesSorted.each do |game| %>
		<% @gameStats       = Statistic.where("game_id = ?", game.id).last %>
		<% @gamePredictions = PredictionData.where("gameid = ?", game.id).last %>
<tr>
	<td><%= link_to game.league.name, goodForm_league_path(game.league_id) %></td>
	<td><%= game.kodate.strftime('%b %d, %Y %H:%M:%S') %></td>
	<td><%= link_to game.team1.name, goodForm_path(game.team1)%></td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.goalswinhome.round(3) %> <!-- HWL -->
		<%end%>		
	</td>
	<td>
		<% if @gameStats %>
			<%= @gameStats.hg %> <!-- HG -->
		<% end %>
	</td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.goalslikelyscorehome %> <!-- PHG -->
		<%end%>
	</td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.cornerswinhome.round(3) %> <!-- HCWL -->
		<%end%>
	</td>
	<td>
		<% if @gameStats %>
			<%= @gameStats.hco %> <!-- HC -->
		<% end %>
	</td>		
	<td><% if @gamePredictions %>
			<%= @gamePredictions.cornerslikelyscorehome.round(3) %> <!--PHC -->
		<% end %>
	</td>					
	<td><%= link_to game.team2.name, goodForm_path(game.team2) %> </td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.goalswinaway.round(3) %> <!-- AWL -->
		<%end%>		
	</td>
	<td>
		<% if @gameStats %> 
			<%= @gameStats.ag %> <!-- AG -->
		<% end %>
	</td>
	<td><% if @gamePredictions %>
				<%= @gamePredictions.goalslikelyscoreaway.round(3) %> <!--PAG -->
		<% end %>
	</td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.cornerswinaway.round(3) %> <!-- ACWL -->
		<%end%>
	</td>
	<td>
		<% if @gameStats %>
			<%= @gameStats.aco %> <!-- AC -->
		<% end %>
	</td>	
	<td><% if @gamePredictions %>
				<%= @gamePredictions.cornerslikelyscoreaway.round(3) %> <!-- PAC -->
		<% end %>
	</td>
		<% if @gameStats %>
			<td><%= link_to "Click for Statistics", goodForm_statistics_path(game)%></td>
		<% else %>
			<td> :( no stats available</td>
		<% end %>
</tr>
	<% end %>
</table>

<small><%= @team.created_at %></small>


