<h1><%= @team.name %>: Games</h1>

<table border="1">

<!-- <%= debug @games %> -->

<tr>
	<th>ID</th>
	<th>LEAGUE</th>
	<th>KICK OFF DATE</th>
	<th>HOME TEAM</th>
	<th>AWAY TEAM</th>
	<th>STATS</th>
</tr>
	<% @gamesSorted.each do |game| %>
<tr>
	<td><%= game.id %></td>
	<td><%= game.league.name %></td>
	<td><%= game.kodate %></td>
	<td><%= game.team1.name %></td>
	<td><%= game.team2.name %></td>
	<td><%= link_to "Click for Stats", goodForm_statistics_path(game)%></td>
</tr>
	<% end %>

<small><%= @team.created_at %></small>