<h1><%= @team.name %></h1>

<table border="1" id="summary">

<p>Good Form has records for <%= @homeGamesPlayed %> Home games and <%= @awayGamesPlayed %> Away games </p>

  <tr>
    <th>Average</th>
    <th>Home</th>
    <th>Away</th>
  </tr>
  <tr>
    <td>Goals Scored</td>
    <td><%= @averageHomeGoals.round(1) %></td>
    <td><%= @averageAwayGoals.round(1) %></td>
  </tr>
  <tr>
    <td>Corners</td>
    <td><%= @averageHomeCorners.round(1) %></td>
    <td><%= @averageAwayCorners.round(1) %></td>
  </tr>
  <tr>
    <td>Attacks</td>
    <td><%= @averageHomeAttacks.round(1) %></td>
    <td><%= @averageAwayAttacks.round(1) %></td>
  </tr>
  <tr>
    <td>Dangerous Attacks</td>
    <td><%= @averageHomeDangerousAttacks.round(1) %></td>
    <td><%= @averageAwayDangerousAttacks.round(1) %></td>
  </tr>
  <tr>
    <td>Shots On Target</td>
    <td><%= @averageHomeShotsOnTarget.round(1) %></td>
    <td><%= @averageAwayShotsOnTarget.round(1) %></td>
  </tr>
  <tr>
    <td>Shots Off Target</td>
    <td><%= @averageHomeShotsOffTarget.round(1) %></td>
    <td><%= @averageAwayShotsOffTarget.round(1) %></td>
  </tr>
</table>

<br> </br>

<table border="1" id="games">

<p><b>Recorded Games</b></p>

<tr>
	<th>League</th>
	<th>Kick Off Date</th>
	<th>Home Team</th>
	<th>PredictedGoals</th>
	<th>Away Team</th>
	<th>PredictedGoals</th>
	<th>Statistics</th>
</tr>
	<% @gamesSorted.each do |game| %>
		<% @gameStats       = Statistic.where("game_id = ?", game.id).last %>
		<% @gamePredictions = PredictionData.where("gameid = ?", game.id).last %>
<tr>
	<td><%= link_to game.league.name, goodForm_league_path(game.league_id) %></td>
	<td><%= game.kodate.strftime('%b %d, %Y %H:%M:%S') %></td>
	<td><%= link_to game.team1.name, goodForm_path(game.team1)%>  
		<% if @gameStats %>
			<%= @gameStats.hg %>
		<% end %>
	</td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.goalslikelyscorehome %>
		<% end %>
	</td>
	<td><%= link_to game.team2.name, goodForm_path(game.team2) %> 
		<% if @gameStats %> 
			<%= @gameStats.ag %>
		<% end %>
	</td>
	<td><% if @gamePredictions %>
			<%= @gamePredictions.goalslikelyscoreaway %>
		<% end %>
	</td>
		<% if @gameStats %>
			<td><%= link_to "Click for Statistics", goodForm_statistics_path(game)%></td>
		<% else %>
			<td> :( no stats available</td>
		<% end %>
</tr>
	<% end %>
</table>

<small><%= @team.created_at %></small>


