<h1><%= @team.name %>: Games</h1>

<table border="1">

<tr>
	<th>LEAGUE</th>
	<th>KICK OFF DATE</th>
	<th>HOME TEAM</th>
	<th>AWAY TEAM</th>
	<th>STATS</th>
</tr>
	<% @gamesSorted.each do |game| %>
<tr>
	<td><%= link_to game.league.name, goodForm_league_path(game.league_id) %></td>
	<td><%= game.kodate.strftime('%b %d, %Y %H:%M:%S') %></td>
	<td><%= link_to game.team1.name, goodForm_path(game.team1)%></td>
	<td><%= link_to game.team2.name, goodForm_path(game.team2) %></td>
	<td><%= link_to "Click for Stats", goodForm_statistics_path(game)%></td>
</tr>
	<% end %>

</table>

<p>
<h3>Summary</h3>
<li>Average goals scored per game when playing at home     : <b><%= @averageHomeGoals %></b> </li>
<li>Average goals scored per game when playing away        : <b><%= @averageAwayGoals %></b> </li>

<li>Average corners per game when playing at home          : <b><%= @averageHomeCorners %></b> </li>
<li>Average corners per game when playing away             : <b><%= @averageAwayCorners %></b> </li>

<li>Average attacks per game when playing at home          : <b><%= @averageHomeAttacks %></b> </li>
<li>Average attacks per game when playing away             : <b><%= @averageAwayAttacks %></b> </li>

<li>Average dangerous attacks per game when playing at home: <b><%= @averageHomeDangerousAttacks %></b> </li>
<li>Average dangerous attacks per game when playing away   : <b><%= @averageAwayDangerousAttacks %></b> </li>

<li>Average shots on target per game when playing at home  : <b><%= @averageHomeShotsOnTarget %></b> </li>
<li>Average shots on target per game when playing away     : <b><%= @averageAwayShotsOnTarget %></b> </li>

<li>Average shots off target per game when playing at home : <b><%= @averageHomeShotsOffTarget %></b> </li>
<li>Average shots off target per game when playing away    : <b><%= @averageAwayShotsOffTarget %></b> </li>
</p>

<small><%= @team.created_at %></small>


