<h1><%= @team.name %>: Games</h1>

<table border="1">

<!-- <%= debug @games %> -->

<tr>
	<th>ID</th>
	<th>LEAGUE</th>
	<th>KICK OFF DATE</th>
	<th>HOME TEAM</th>
	<th>AWAY TEAM</th>
	<th>STATS</th>
</tr>
	<% @gamesSorted.each do |game| %>
<tr>
	<td><%= game.id %></td>
	<td><%= game.league.name %></td>
	<td><%= game.kodate %></td>
	<td><%= link_to game.team1.name, goodForm_path(game.team1)%></td>
	<td><%= link_to game.team2.name, goodForm_path(game.team2) %></td>
	<td><%= link_to "Click for Stats", goodForm_statistics_path(game)%></td>

</tr>
	<% end %>
	
<small><%= @team.created_at %></small>