<h1><%= @team.name %>: Games</h1>

<table border="1">

<tr>
	<th>LEAGUE</th>
	<th>KICK OFF DATE</th>
	<th>HOME TEAM</th>
	<th>AWAY TEAM</th>
	<th>STATS</th>
</tr>
	<% @gamesSorted.each do |game| %>
<tr>
	<td><%= link_to game.league.name, goodForm_league_path(game.league_id) %></td>
	<td><%= game.kodate.strftime('%b %d, %Y %H:%M:%S') %></td>
	<td><%= link_to game.team1.name, goodForm_path(game.team1)%></td>
	<td><%= link_to game.team2.name, goodForm_path(game.team2) %></td>
	<td><%= link_to "Click for Stats", goodForm_statistics_path(game)%></td>
</tr>
	<% end %>

</table>
<small><%= @team.created_at %></small>