<h1><%= @team.name %>: Games</h1>



<table border="1" id="games">

<tr>
	<th>LEAGUE</th>
	<th>KICK OFF DATE</th>
	<th>HOME TEAM</th>
	<th>AWAY TEAM</th>
	<th>STATS</th>
</tr>
	<% @gamesSorted.each do |game| %>
<tr>
	<td><%= link_to game.league.name, goodForm_league_path(game.league_id) %></td>
	<td><%= game.kodate.strftime('%b %d, %Y %H:%M:%S') %></td>
	<td><%= link_to game.team1.name, goodForm_path(game.team1)%></td>
	<td><%= link_to game.team2.name, goodForm_path(game.team2) %></td>
	<td><%= link_to "Click for Stats", goodForm_statistics_path(game)%></td>
</tr>
	<% end %>

</table>

<p>
<h3>Summary</h3>

<ul>

<li>Home games played : <b><%= @homeGamesPlayed %></b> </li>
<li>Away games played : <b><%= @awayGamesPlayed %></b> </li>

<li>Average number of goals scored per game when playing at home     :  <b><%= @averageHomeGoals.round(2) %></b> </li>
<li>Average number of goals scored per game when playing away        :  <b><%= @averageAwayGoals.round(2) %></b> </li>

<li>Average number of corners per game when playing at home          : <b><%= @averageHomeCorners.round(2) %></b> </li>
<li>Average number of corners per game when playing away             : <b><%= @averageAwayCorners.round(2) %></b> </li>

<li>Average number of  attacks per game when playing at home         : <b><%= @averageHomeAttacks.round(2) %></b> </li>
<li>Average number of attacks per game when playing away             : <b><%= @averageAwayAttacks.round(2) %></b> </li>

<li>Average number of dangerous attacks per game when playing at home: <b><%= @averageHomeDangerousAttacks.round(2) %></b> </li>
<li>Average number of dangerous attacks per game when playing away   : <b><%= @averageAwayDangerousAttacks.round(2) %></b> </li>

<li>Average number of shots on target per game when playing at home  : <b><%= @averageHomeShotsOnTarget.round(2) %></b> </li>
<li>Average number of shots on target per game when playing away     : <b><%= @averageAwayShotsOnTarget.round(2) %></b> </li>

<li>Average number of shots off target per game when playing at home : <b><%= @averageHomeShotsOffTarget.round(2) %></b> </li>
<li>Average number of shots off target per game when playing away    : <b><%= @averageAwayShotsOffTarget.round(2) %></b> </li>
</ul>

</p>

<small><%= @team.created_at %></small>


